<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <%= image_tag @article.image %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!--Show two random articles -->
<h3>Random articles</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @random_articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text.split('.').first %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>



